<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <div id="myapp">
        {{1+1}}
        <hr>
        {{listasFrases}}
        <hr>
        <label for="idFrase">Frase:</label>

        <input v-model="frase" id="idFrase" type="text">
        <p>{{frase}}</p>

        <label for="idAutor">Autor:</label>
       <!-- <input v-on:keypress="eventoKeyPress" v-model="autor" id="idAutor" type="text"> -->
        <input v-on:keypress.enter="eventoKeyPressModificador" v-model="autor" id="idAutor" type="text">

        <br>
        <br>
        <button v-on:click="agregarFrase">Agregar al Inicio</button>
        
        <button v-on:click="agregarFraseFinal">Agregar al Final</button>
        <hr>

        <ul>
         

            <li v-for="{frase,autor} in listasFrases">{{frase}} &emsp; {{ autor}}
                &emsp; <button v-show="autor!==null">{{autor}}</button>
                <p v-show="autor!==null" >autor: {{autor}}</p>
            </li>
        </ul>

        <ul>
            <li v-for="mifrase in listasFrases">{{mifrase.frase}} &emsp; {{ mifrase.autor}}
                &emsp; <button>{{mifrase.autor}}</button>
                <p>{{mifrase.frase}}</p>
            </li>
        </ul>
        <hr>
        
        <hr>
        <ul>
            <li>al que madruga le roban</li>
            <li>al que madruga dios le ayuda</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>


    <script src="../js/appfrases.js"></script>

</body>

</html>